.text {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btnItem {
    text-decoration: none;
    border: 1px solid #E59DA6;
    max-width: 50%;
    padding: 0.5rem 1rem;
    border-radius: 30px;
     
}

.btnItem>a:hover, h5>a:hover {
    text-decoration: none;
    color: #c4737c;
}