.item {
    display: flex;
    align-items: center;
}


.img {
    max-width: 50%;
    align-items: center;
}

.img img {
    width: 100%;
    
}

.btnItem {
    display: flex;
    gap: 1rem;
}

.btnItem button:hover {
    color:white;
    background-color: #c4737c;;
}

