.item {
    display: flex;
    align-items: center;
}


.img {
    max-width: 50%;
    align-items: center;
}

.img img {
    width: 100%;
    
}

.inputs {
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
    margin: 1rem 7rem 2rem 0.8rem;

}

.select {
    display: flex;
    flex-direction: column;
}

.select p {
    margin: 0;
}

.btnItem {
    display: flex;
    gap: 1rem;
}

.btnItem button:hover {
    color:white;
    background-color: #c4737c;;
}

